body {
    overflow-x: hidden; 
    height: 100%;    
}

/* Navbar styling */
nav {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur;
    padding: 10px 0;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
  
nav ul li {
    font-family: 'Arima';
    display: inline;
    margin: 0 20px;
}
  
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
  
nav ul li a:hover {
    color: #11fcbd;
}

/* Welcome Section */
#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
    text-align: center;
}
  
#welcome-background-section {
    background-image:url('../images/main-bg.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;  
    overflow: hidden;  
}

.welcome-container {
    background-color: rgba(233, 241, 185, 0.192);
    border: 2px solid rgb(239, 241, 239);
    padding: 3%;
    padding-bottom: 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);    
    margin-right: 50%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.welcome-container h1{
    font-family: 'Merriweather' , sans-serif;
    font-size: 40px;
    color: rgb(29, 74, 89);
    letter-spacing: 1px;
    text-transform: capitalize;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease, text-shadow 0.3s ease;
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 750;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.welcome-container h2 {
    font-family: 'Merriweather';
    font-size: 25px;
    margin-bottom: 15px;
    color: rgb(41, 103, 123);
}

.welcome-container p {
    font-family: 'Arima';
    font-size: 18px;
    margin-bottom: 30px;
    color:rgb(33, 8, 66);
    font-weight: 450;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: rgb(255,255,255,0.4);
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid black;
    padding: 0;
}

footer p {
    margin-top: 7px;
}

/* Experience Page Styling */
  
.experience-section {
    background-image:url('../images/experience.avif');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;              
}

.experience-container {
    max-width: 750px;
    padding-top: 5%;
}

.experience-container h5 {
    color: rgb(19, 172, 172);
}

.company-logo {
    border-radius: 5%;
    margin-top: 30%;
}

.experience-section h2 {
    font-family: 'Merriweather';
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 750;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    text-align: center;
    text-decoration: underline;
}

.position-promotion {
    position: relative;
    padding-left: 20px;
}

.position-promotion::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background: repeating-linear-gradient(
        to bottom,
        #ccc,
        #ccc 5px,
        transparent 5px,
        transparent 10px
    );
}

.promotion-dot {
    position: relative;
    margin-left: 10px;
}

.promotion-dot::before {
    content: '';
    position: absolute;
    top: 0;
    left: -14px;
    width: 10px;
    height: 10px;
    background-color: rgb(13, 173, 173);
    border-radius: 50%;
}

.experience-section h4 {
    font-family: 'Arima';
    font-weight: 750;
}

.position-promotion h5 {
    font-weight: 400;
}

.position-promotion p {
    margin: 5px;
    padding: 0;
    font-size: 15px;
}

.position-promotion li {
    font-size: small;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
*{
    scrollbar-width: thin;
    scrollbar-color: #00fffbe0 black;
}


/* Contact Page */

.contact-body {
    background-image:url('../images/contact.jpg');
    overflow: hidden;
}

.contact-body nav {
    background-color: rgba(241, 234, 234, 0.8);
    backdrop-filter: blur;
    padding: 10px 0;    
}

.contact-body nav ul li a {
    color: black !important;
}

.contact-body nav ul li a:hover {
    color: #063f7b !important;
}

.form-label{
    font-family: 'Arima'
}

.form-title{
    font-family: 'Arima';
    text-transform: capitalize;
    font-weight: 750;
}
.contact-form {
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
  
.btn-custom {
    background-color: #fcef00;
    color: black;
    font-family: 'Arima';
}
  
.btn-custom:hover {
    background-color: #0056b3;
    color: white;
}
  
.socials {
    position: fixed;
    left: 24%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.socials a {
    color: rgb(103, 102, 102);
    margin: 10px 0;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    margin-left: 9px;
}

.socials a:hover {
    color: white;
}

